# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
ENV/
env/
.venv
.direnv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
web/static/logs/*.csv
!web/static/logs/.gitkeep
components/*/hardware/*.kicad_saved
components/*/hardware/_autosave-*

# Flask
instance/
.webassets-cache
web/static

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Backup files
*.bak
*.backup
*~

# Temporary files
*.tmp
*.temp

# Documentation builds
docs/_build/
site/

# Obsidian 
.obsidian/

# Data generated/received via launch antena
logs/
data/
src/logs/
src/data/
