asttokens==3.0.1
attrs==26.1.0
backcall==0.2.0
beautifulsoup4==4.15.0
bidict==0.23.1
bleach==6.4.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
decorator==5.3.1
defusedxml==0.7.1
docopt==0.6.2
executing==2.2.1
fastjsonschema==2.21.2
Flask==2.2.1
Flask-API==3.1
Flask-SocketIO==5.5.1
h11==0.16.0
idna==3.18
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.20.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
mistune==3.2.1
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nodeenv==1.10.0
packaging==26.2
pandocfilters==1.5.1
parso==0.8.7
pexpect==4.9.0
pickleshare==0.7.5
pipreqs==0.5.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pyright==1.1.409
pyserial==3.5
python-dateutil==2.9.0.post0
python-engineio==4.13.2
python-socketio==5.16.2
pyzmq==27.1.0
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
simple-term-menu==1.6.6
simple-websocket==1.1.0
six==1.17.0
soupsieve==2.8.4
stack-data==0.6.3
tinycss2==1.5.1
tornado==6.5.7
traitlets==5.15.1
typing_extensions==4.15.0
urllib3==2.7.0
wcwidth==0.8.1
webencodings==0.5.1
Werkzeug==2.3.8
wsproto==1.3.2
yarg==0.1.9
