* {
  /* Reset CSS */
  box-sizing: border-box;
}

html {
  display: grid;
  /* Makes sure that the site will span the entire viewport height */
  height: 100dvh;
}

body {
  /* Reset CSS */
  margin: 0;
  height: 100%;
}

/* fonts */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/Iceland.woff2) format("woff2");
  font-family: "Iceland";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/Jersey10.woff2) format("woff2");
  font-family: "Jersey10";
}

#root {
  /* Makes sure that the site will span the entire viewport height */
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 100%;
  height: 100%;
}
