{
  "$schema": "https://json.schemastore.org/prettierrc",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@images/(.*)$",
    "^@fonts/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "cssDeclarationSorterKeepOverrides": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-css-order"
  ]
}
