<!DOCTYPE html>
<html lang="br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> config serial </title>
        <script src="{{ url_for('static', filename = 'js/serial_config.js') }}"></script>
    </head>
    <body>
        <form method="POST" style="display: flex; flex-direction: column">

            <label for="serial"> Serial: </label>
            <select name="serial" id="serial_list">
                <option value="serial"> Selecione uma serial... </option>
            </select>

            <label for="baudrate"> Baudrate: </label>
            <input type="number" name="baudrate" value="">

            <label for="timeout"> Timeout: </label>
            <input type="number" name="timeout" value="">

            <br>

            <button type="button" onclick="refresh_serial_list()"> 
                Atualizar 
            </button>
            <button type="submit"> 
                Connectar 
            </button>
            <button type="button" onclick="disconnect_serial()">
                Desconectar 
            </button>

        </form>
    </body>
</html>
